body{
    background-color:DarkSlateBlue;

}

main {
    font-size: 30px;
    height: 3000px;
    width: 1500px;
    color:white;
    padding-left: 250px;
    line-height: 40px;
    text-align: center;
}


h1.Shapka {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 60px;
    text-align: center;
    font-family: "Andale Mon", monospace;
}

.pic1 {
    width: 1890px;
    height: 500px;
}

.pic2 {
    width: 400px;
    height: 400px;
}

nav {
    padding-top: 8px;
    padding-left: 20px;
    text-align: left;
    font-size: 30px;
    color:white;
    font-family: "Andale Mon", monospace;
}

ol.navigation_spisok{
    display: inline;
}

p.text1{
    text-align: center;
}

p.text2{
    text-align: left;
}

p.text3{
    text-align: left;
}


ol.prim {

    text-align: left;
}

li {
    line-height: 55px;
    color:white;
    text-align: left;
}

a {
    color:white;
}

